/*------------------
Aspectos generales
-------------------*/

* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;

    background-image: url("../img/fondo.png");
    background-repeat: repeat;
    background-attachment: fixed;

    font-family: "Cossette Texte", sans-serif;
    font-size: 1rem;

}
.contenedor {
    width: 100%;
    max-width: 1920px;
}


h1, h2, h3 {
    font-family: "Abel", sans-serif;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2rem;
    margin-bottom: 0.5rem;
    margin-top: 0;
}

h3 {
    font-size: 1.5rem;
    text-decoration: underline solid;
    margin-bottom: 1rem;
}

img {
    margin: 0.5rem;
}

/*----------------------
header
------------------------*/

header {
    width: 100%;
    max-width: 1920px;
    padding: 0.5rem;

    display:flex;
    justify-content: space-between;
    align-items: center;

    background:#0d2c3b;
    color:white;
}

#izq {
    margin: 0;
}

nav ul{
    margin: 0.5rem;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
}

nav a:link{
    padding: 0.5em;
    text-align: center;
    font-size: 1.2rem;
    line-height: 2.2rem;

    text-decoration: none;
    color:white;
}

nav a:visited {
    padding: 0.5em;
    text-align: center;
    font-size: 1.2rem;
    line-height: 2.2rem;

    text-decoration: none;
    color:rgb(193, 199, 211); 
}

nav a:hover {
    padding: 0.5em;
    text-align: center;
    font-size: 1.2rem;
    line-height: 2.2rem;

    text-decoration: none;
    color:white;
    font-style: italic;
}

nav a:active {
    padding: 0.5em;
    text-align: center;  
    font-size: 1.2rem;
    line-height: 2.2rem;

    text-decoration: none;
    font-weight: bold;
    color:white;
}

/*----------------------
Main
-----------------------*/

main {
width: 75%;
margin: 0.5rem auto;
padding: 2%;


background-color: aliceblue;
border-radius: 1rem;
}

#encabezado {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2rem;
}

blockquote {
    margin: 1rem;

    font-style: italic;
    font-size: 1.2rem;
    color: #555
}

button {
    margin: 0.5rem;
    margin-left: 0;
    padding: 0.5rem;
    border: none;

    border-radius: 0.2rem;
    background:#1d5972;
    color:white;

    font-family:"Abel", sans-serif;
    font-size: 1rem;
}

button:hover{
    background:#2b7896;
}


/*----------------------
columnas
-----------------------*/

.columnasIguales {
    display:flex;
    justify-content: center;
}

.columna {
    margin: 0.5rem;
    padding: 1rem;
    width: 33%;

    background-color: #dbeff3;
    border-radius: 1rem;
}

.columnasDistintas {
    display:flex;
    justify-content: center;
}

#columnaUno {
    width: 60%;
    margin: 0.5rem;
    padding: 1rem;

    background-color: #dbeff3;
    border-radius: 1rem;
}

#columnaDos {
    width: 40%;
    margin: 0.5rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: #dbeff3;
    border-radius: 1rem;    
}

#centrar {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

/*----------------------
galeria de fotos
--------------------- */
#galeria {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width:100%;
    margin: auto;
}
.tarjeta {
    width: 30%;
    margin: 0.5rem;
    padding: 0.5rem;
	text-align: center;

    background-color: #dbeff3;
    border-radius: 1rem;
}
.tarjeta img {
    width: 100%;
    margin: auto;
    padding: 0.2rem;
}
.tarjeta p {
    font-size: 1rem;
    text-align: left;
}

/*-----------
footer
------------*/

footer {
    width: 100%;
    max-width: 1920px;
    background-color: azure;
    padding: 0.5rem;
}

footer a {
    color:rgb(59, 60, 116);
    text-decoration: none;
}

/*-----------------
REPOSITORIO FORMS
-----------------*/

/*---------------
Formulario Uno
----------------*/

#formUno{
    display:flex;
    flex-wrap:wrap;
    align-items:center;
    text-align: center;

    background:#dbeff3;
    padding:2rem;
    border-radius:1rem;
}

#formUno label {
    width: 100%;
    text-align: left;
    font-weight: bold;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#formUno p {
    margin-left: 1rem;
}

#formUno input {
    margin: 0;
    width: 20%;
    height: 2rem;
    padding: 0.5rem;
    border: 0.1rem solid #8ab8c6;
    border-radius: 0.2rem;
}

#formUno button, #formDos button, #reiniciar button {
    width: 100%;
    margin-top: 2rem;
}

/*------------------
Form Dos
-------------------*/

#pasoDos {
    font-size:1.2rem;
    margin:2rem 0 1rem;
    font-weight:bold;
}

#formDos {
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
}

fieldset {
    display:flex;
    flex-wrap: wrap;

    width: 30%;
    gap: 0.5rem;
    padding:1.2rem;

    border:none;
    border-radius:1rem;
    background:#dbeff3;
}

legend {
    font-family:"Abel", sans-serif;
    font-size:1.3rem;
    font-weight:bolder;
    color:#0d3d4f;
}

fieldset label {
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 100%;
    font-weight: bold;
}

fieldset input{
    padding: 0.5rem;
    width: 60%;
    height: 2rem;
    border: 0.1rem solid #8ab8c6;
    border-radius:0.2rem;
}

fieldset p {
    margin-top: 0.2rem;
    margin-left: 1rem;
}

#calcular {
    align-self: baseline;
    margin-top:1rem;
}

/*---------------------
Campos deshabilitados
----------------------*/

input:disabled {
    background:#d8d9df;
    border: none;
}

button:disabled {
    background:#999;
}

/*-----------------
Resultados
-------------------*/

#resultados p{
    margin-top:2rem;
    padding:2rem;

    background:#8ab8c6;

    border-radius:1rem;
    line-height:1.8;
}